@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

:root{
    --color-1: rgb(40, 40, 93);
    --color-2: rgb(80, 80, 191);
    --color-3: rgb(232, 71, 18);
    --fonte01: 'Ubuntu', sans-serif;
}

*{
    box-sizing: border-box;
    outline: 0;
    
}
body{
    background-color: var(--color-1);
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte01);
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    
}

.containerlist {
    display: flex;
    gap: 20px;
}

ul{
    list-style-type: none;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom:10px ;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--color-1);
}
form button{
    border: 0px;
    background-color: var(--color-1);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
   
    

}
form button:hover{
    background-color: var(--color-2);
}
form button:active{
    background-color: var(--color-3);
}
.paragrafo-resultado{
    background-color: rgba(84, 175, 84, 0.882);
    color: white;
    padding: 10px 10px;
}
.bad{
    background-color: rgb(188, 58, 58);
    color: white;
    padding: 10px 10px;
}

p {
    color: aliceblue;
    background-color: rgb(40, 40, 93);
}